{% extends "base.html" %}
{% block content %}
<div>
    <main class="card-container">
        <h2>2025 (debut year):</h2  `>
        <div class="card">
            <li>Placed 12th at Chisinau's Informatic Municipal Rankings (3rd place)</li>
        </div>
        <div class = "card"> 
            <li>Got mention at Chisinau's Informatic Olympiad Municipal. (10th place)</li>
        </div>
        <div class = "card">
            <li>#41st place at GOC 2024</li>
        </div>
    </main>
</div>




{% endblock %}
