{% extends "base.html" %}
{% block content %}
<div>
    <main class="card-container">
        <h2>2025 (debut year):</h2  `>
        <div class="card">
            <li>3rd Award at Chisinau's Informatics Olympiad Municipal (1st stage)</li>
        </div>
        <div class = "card"> 
            <li>Honorable mention at Chisinau's Informatics Olympiad Municipal. (10th ranked/2nd stage)</li>
        </div>
        <div class = "card">
            <li>#41st place at GOC 2024</li>
        </div>
    </main>
</div>




{% endblock %}
