{% extends "base.html" %}
{% block content %}
<main class = "card-container">
    <h1>Get in touch</h1>
    <div class="card">
        <h1>More inquiries</h1>
        <h2>Email: me@danihere.xyz</h2>
    </div>
    <div class = "card">
        <h1>Coding profiles</h1>
        <a href = "https://www.nerdarena.ro/utilizator/danihere"> Nerdarena</a>
        <a href = "https://codeforces.com/profile/DaniHere">Codeforces</a>
        <a href = "https://kilonova.ro/profile/danihere">Kilonova</a>
        <a></a>
    </div>
</main>

{% endblock %}
