{% extends "base.html" %}
{% block content %}
<mian class = "card-container">
    <h1>Get in touch with me</h1>
    <div class="card">
        <h1>Professional inquiries</h1>
        <h2>Email: me@danihere.xyz</h2>
    </div>
    <div class = "card">
        <h1>Socials</h1>
        <a>Discord: danihere</a>
        <a href="https://instagram.com/imdaanihere">Instagram: imdaanihere</a>
    </div>
    <div class = "card">
        <h1>Coding profiles</h1>
        <a href = "https://www.nerdarena.ro/utilizator/danihere"> Nerdarena</a>
        <a href = "https://codeforces.com/profile/DaniHere">Codeforces</a>
        <a></a>
    </div>
</main>

{% endblock %}
