{% extends "base.html" %}
{% block content %}
<main class = "card-container">
    <h1>Main hobbies</h1>
    <div class="card">
        <li>Coding (a lot of coding - shocker, I know.)</li>
    </div>
    <div class = "card"> 
        <li>Gaming (1300h+ across all counter strike releases, didn't bother to count Minecraft playtime)</li>
    </div>
    <div class = "card">
        <li>Old camera photography (digicams rule)</li>
    </div>
    <div class = "card">
        <li>Listening to music (over 3500h+ streamed on spotify)</li>
        <li>Favorite artists: Eminem, Kendrick Lamar, Travis Scott and XXXTentacion</li>
    </div>

</main>
{% endblock %}
